<h2>add library</h2>

<form action="/library" method="POST" id="form-container">
  <label for="name">Library Name</label>
  <input id="name" type="text" name="name" placeholder="JonSnow">


  <!-- <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %> -->
  <br><br>

  <button>Create library</button>

  <!-- <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p> -->
</form>
