<div id="welcome">
<div id="solowelcome">
  <h1>Welcome <%=user[0].username%>.</h1>
</div>
<div class="row">
    <%libraries.forEach(function(library){%>
      <div class="library-wrap col-xs-3">
        <li class="library-list">
          <span>Library Name</span>
          <a class="lib" href="/library/<%=library._id%>"><%=library.name%></a>
        </li>

      </div>
      <%})%>

</div>
<form action="/library/new" method="POST" id="form-container">
  <label for="name">add library</label>
  <input id="name" type="text" name="name">
  <br><br>

  <button>Create library</button>
</form>
</div>
